# Placehlder for mariadb configuration. These settings are added to the settings
# in /etc/mysql/my.cnf inside the container.
# The number of seconds the server waits for activity on an interactive connection before closing it.
interactive_timeout=86400
# The number of seconds the server waits for activity on a noninteractive connection before closing it.
wait_timeout=86400
net_read_timeout = 3000
net_write_timeout = 3000
connect_timeout = 900
innodb_lock_wait_timeout = 1800